/* Navbar */
nav {
    font-family: 'Old Standard TT', serif;
    font-size: 1.2rem; 
    background-color: #D3E2E8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-family: 'Old Standard TT', serif;
}

.nav-bar{
    position: relative;
    padding: 0 2rem;
    z-index: 9999;
    
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0 2rem;
    z-index: 9999;
}
.nav-line {
    color: #18272F;
    position: relative;
    text-decoration: none;
  }
  
.nav-line::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.nav-line:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
  
table{
    border-radius: 10px;
    overflow: hidden;
}

.txt{
    font-family: 'Old Standard TT', serif;
}

.zoom {
    transition: transform .2s;
  }
  
.zoom:hover {
    transform: scale(1.02);
  }

/* Carousel */
.carousel-caption-custom{
    position: absolute;
    top: 40%;
    right: 15%;
}

.height-image{
    height: 500px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    size: cover;
    object-fit: cover;
}

.img-cover{
    object-fit: cover;
}

.bg-carousel{
    background-color: #D3E2E8;
    border-radius: 10px;
}

.carousel-item.active{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(18, 18, 18, 0.2),rgba(13, 13, 13, 0.5)) !important;
}

.icon-home{
    text-align: center;
}

.icon-color{
    color:#18272F;
    text-decoration: none;
}

.icon-color:hover{
    color: #71757a!important;
}











@media screen and (max-width:600px){
    .w-50{
        width: 100% !important;
        z-index: 1;
    }
    .carousel-caption-custom{
        top: 0px;
        right: 50%;
        z-index: 2;
    }
}