/* Navbar */
nav {
    font-family: 'Old Standard TT', serif;
    font-size: 1.2rem; 
    background-color: #D3E2E8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-family: 'Old Standard TT', serif;
}

.nav-bar{
    position: relative;
    padding: 0 2rem;
    z-index: 9999;
    
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0 2rem;
    z-index: 9999;
}
.nav-line {
    color: #18272F;
    position: relative;
    text-decoration: none;
  }
  
.nav-line::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.nav-line:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
  
table{
    border-radius: 10px;
    overflow: hidden;
}

.txt{
    font-family: 'Old Standard TT', serif;
}

.zoom {
    transition: transform .2s;
  }
  
.zoom:hover {
    transform: scale(1.02);
  }

/* Carousel */
.carousel-caption-custom{
    position: absolute;
    top: 40%;
    right: 15%;
}

.height-image{
    height: 500px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    size: cover;
    object-fit: cover;
}

.img-cover{
    object-fit: cover;
}

.bg-carousel{
    background-color: #D3E2E8;
    border-radius: 10px;
}

.carousel-item.active{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(18, 18, 18, 0.2),rgba(13, 13, 13, 0.5)) !important;
}

.icon-home{
    text-align: center;
}

.icon-color{
    color:#18272F;
    text-decoration: none;
}

.icon-color:hover{
    color: #71757a!important;
}

.category-margin{
    margin-top: 100px;
    margin-bottom: 100px;
}

.div-size{
    height: 500px;
}

/* img ambiente */
#bg-image{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.3) 60%), url('/public/homeImage/p0836dcl.jpeg');
    background-size: cover;
    background-position: center;  
}

.img-size{
    width: 350px;
}


.title-div{
    width: 1000px;
}

.shadow-img {
    box-shadow: 0 .250rem .50rem #E7E6DD, 0 .250rem .50rem #E7E6DD;
}

.team-link{
    text-decoration: none;
}

.rounded-circle{
    width: 225px;
    height: 225px;
    object-fit: cover;
}

.w-image {
    width: 30%;
}

/* Scroll to top button */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: rgb(255, 255, 255);
    background-color: rgba(54, 54, 54, 0.519);
    border-radius: 50px;
    }
  
.btn_color:hover {
    background-color: rgb(49, 49, 49)!important;
    color:  rgb(255, 255, 255)!important;
}  

/* btn/home scrivi articolo */

.btn_color_2{
    background-color:  #18272F!important;
    color: white;
}

.btn_color_2:hover{
    background-color: white!important;
    color:  #18272F;
}

/* btn/home ins.articolo, lavora */

.btn_color_3:hover{
    background-color: white;
    color: #18272F!important;
}
  
/* img lavora con noi */

#bg-work{
    background-image: url('/public/homeImage/laptop-The Aulab Post.jpg');
    height: 700px;
    background-size: cover;
    background-position: center;
    
}

.job{
    margin-top: 50px;
    margin-left: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.394);
    height: fit-content;
}
/* Register */

.bg-wallpaper{
    /* The image used */
  background-image: url("/public/homeImage/pexels-cottonbro-studio-5052854.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-link:hover{
    color:  #D3E2E8;
}

/* link nserisci articolo home */
.txt-link{
    text-decoration: none;

}


@media screen and (max-width:600px){
    .w-50{
        width: 100% !important;
        z-index: 1;
    }
    .carousel-caption-custom{
        top: 0px;
        right: 50%;
        z-index: 2;
    }

    #bg-work {
        height: auto;
        max-width: 100%;
        background-size: cover;
    }

    #bg-image {
        height: auto;
        max-width: 100%;
    }
}